@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* .item {
    color:white;
    width: 210px;
    height: 36px;
    margin-top: 10px;
    font-size: 24px;
    background-color:#55acee;
    border-radius: 0px;
    line-height: 36px;
    cursor: pointer;
    user-select: none;
    letter-spacing: 2px;
    margin-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    border: 1px solid white;
} */
/* .item:hover {
    background: #66ceff;
    filter:brightness(100%);
    -webkit-box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.79); 
    box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.79);
} */

/* .nav .item a {
    border: 1px solid white;
    display: block;
    width: 210px;
    height: 36px;
    border-radius: 10px;
    margin-right: 10px;
} */

